*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#000;

    font-family:Arial, Helvetica, sans-serif;

    min-height:90vh;

    padding:0px;

    
}

.contenedor{

    width:100%;

    max-width:1870px;

    height: 100%;

    margin:auto;
}

.tabs{

    display:flex;

    gap:10px;

    margin-bottom:12px;
}

.tab-btn{

    flex:1;

    background:#111;

    color:white;

    border:2px solid white;

    border-radius:12px;

    padding:14px;

    font: weight 10px;

    cursor:pointer;
}

.tab-btn.active{

    background:white;

    color:black;
}

.slider-container{

    position:relative;

    width:98%;

    height:96vh;

    border-radius:20px;

    overflow:hidden;

    border:3px solid white;

    margin: 1%;
}

.slider-container img{

    width:100%;

    height:100%;

    object-fit:contain;
}

.flecha{

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    z-index:10;

    border:none;

    background:transparent;

    color:rgb(255, 255, 255);

    font-size:60px;

    cursor:pointer;
}

.izquierda{
    left:20px;
}

.derecha{
    right:20px;
}

.dots{

    position:absolute;

    bottom:20px;

    left:50%;

    transform:translateX(-50%);

    display:flex;

    gap:8px;
}

.dot{

    width:15px;

    height:15px;

    border-radius:50%;

    border:2px solid rgb(255, 255, 255);

    cursor:pointer;
}

.dot.active{

    background:rgb(255, 255, 255);
}

.layout{

    display:grid;

    grid-template-columns:

        240px

        1fr;

    gap:25px;

    height:100vh;

}

.sidebar{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:space-between;

    padding:80px 0;

    margin-left: 17%;

}


.tabs{

    display:flex;

    flex-direction:column;

    gap:18px;

    width:100%;

}

.tab-btn{

    width:100%;

    height:55px;

    border-radius:16px;

    background:#111;

    color:white;

    border:3px solid white;

    cursor:pointer;

    transition:.35s;

}

.tab-btn.active{

    background:white;

    color:black;

}

.home-logo{

    width:180px;

    transition:.3s;

    

}

.home-logo img{

    width:100%;

}

.home-logo:hover{

    transform:scale(1.05);

}

.logo-u{

    width:150px;

    margin-bottom:00px;

}

/* ======================================= */
/* TRANSICIÓN TIPO MUBI */
/* ======================================= */

html{

    background:#000;

}

body{

    opacity:0;

    transform:scale(0.99);

    transition:
        opacity .44s ease,
        transform .55s ease;

}

body.page-loaded{

    opacity:1;

    transform:scale(1);

}

body.page-leaving{

    opacity:0;

    transform:scale(1.01);

}

#page-transition{

    position:fixed;

    inset:0;

    background:black;

    opacity:0;

    pointer-events:none;

    transition:opacity .10s ease;

    z-index:99999;

}

#page-transition.active{

    opacity:1;

}


